@import "normalize";
@import "variables";
@import "libs/fontawesome/scss/fontawesome.scss";
@import "libs/fontawesome/scss/solid.scss";

// 1. Box Sizing
// ===================================
/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

// 2. Typography
// ===================================

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

main {

    h1,
    h2,
    h3 {
        color: darken($primaryColor, 100%);
    }

}

hr {
    width: 50%;
    border: solid 1px $primaryColor;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

// 3. Layout
// ===================================

body > div {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    header,
    main,
    footer {

        > div {
            width: 100%;
            margin: 0 auto;
            padding: 20px;
            text-align: center;

            /* iPads ----------- */
            @media only screen and (min-width : 768px) {
                max-width: 768px;
            }

            /* Desktops and laptops ----------- */
            @media only screen and (min-width : 1224px) {
                max-width: 1000px;
            }

            /* Large screens ----------- */
            @media only screen and (min-width : 1824px) {
                max-width: 100px;
            }

        }

    }

    main {
        flex-grow: 1;
        background-color: $mainBG;
    }

}

// 4. Colour Pallete
// ===================================

body {
    color: $bodyColor;
    background-color: $bodyBG;
}

body > div header {
    color: #fff;
    background-color: $headerBG;
}

body > div footer {
    color: #fff;
    background-color: $footerBG;

    h2,
    h3 {
        color: inherit;
    }

    hr {
        border-color: #666;
    }

}

// 5. Header
// ===================================

body > div header {
    padding: 0px 0px;

    > div {
        padding: 0px 0px;

        @media only screen and (min-width : 768px) {
            display: flex;
            flex-direction: row;
        }

        & > div:nth-child(1) {
            padding: 10px 20px;
            text-align: left;

            @media only screen and (min-width : 768px) {
                width: 200px;
                padding: 10px 20px;
            }

            h1 {
                line-height: 0;
            }

        }

        & > div:nth-child(2) {

            @media only screen and (min-width : 768px) {
                flex: 1;
            }
        }

    }

}

// 5.1 Header Navigation
// ===================================

body > div header {

    // Hamburger Menu
    div div:nth-child(2) > div {
        width: 40px;
        height: 25px;
        position: absolute;
        top: 17px;
        right: 20px;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
        display: block;

        /* iPads  ----------- */
        @media only screen and (min-width : 768px) {
            display: none;
        }

        span {
            display: block;
            position: absolute;
            height: 5px;
            width: 100%;
            background: #fff;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
        }

        span:nth-child(1) {
            top: 0px;
            transform-origin: left center;
        }

        span:nth-child(2) {
            top: 10px;
            transform-origin: left center;
        }

        span:nth-child(3) {
            top: 20px;
            transform-origin: left center;
        }

        &.open span:nth-child(1) {
            transform: rotate(45deg);
            top: -3px;
            left: 6px;
        }

        &.open span:nth-child(2) {
            width: 0%;
            opacity: 0;
        }

        &.open span:nth-child(3) {
            transform: rotate(-45deg);
            top: 25px;
            left: 6px;
        }

    }

    // Main Navigation
    nav {
        height: 0;
        display: flex;
        flex-direction: column;
        background-color: darken($primaryColor, 10%);

        /* iPads  ----------- */
        @media only screen and (min-width : 768px) {
            height: 100%;
            max-height: 600px;
            flex-direction: row;
            background-color: transparent;
        }
        
        &.show{
            height: 100%;
        }

        a {
            padding: 10px 10px;
            flex: 1;
            align-self: center;
            color: #fff;
            text-decoration: none;

            &:hover {
                color: lighten($primaryColor, 25%);
            }

        }

    }

}

// 6. Main
// ===================================

body > div main {}

// 7. Sell
// ===================================

body > div .sell{
    width: 100%;
    color: #fff;
    text-align: center;
    background: url('../images/bg-city.jpg') 50% 50% fixed / cover;
    
    > div{
        min-height: 100vh;
        padding: 15px 15px;
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        background-color:rgba(0, 0, 0, 0.5);
        
        > div{
            max-width: 600px;
            margin: 0 auto;
        }
        
        h1,h2,h3{
            font-size: 50px;
            font-weight: bold;
        }
        
    }
    
}

// 8. Footer
// ===================================

body > div footer {
    border-top: solid 5px $primaryColor;
}

// 9. Grid
// ===================================

.col {
    @extend .row;
}

.col-2 {

    > div {
        width: 50%;
    }

}

.col-3 {

    > div {
        width: 33.333%;
    }
}

.col-4 {

    > div {
        width: 25%;
    }
}

//10. Helpers 
// ===================================

.row {
    @extend .clearfix;

    > div {
        padding: 0 10px;
        float: left;

        /* Phone  ----------- */
        @media only screen and (max-width : 768px) {
            width: 100%;
        }

        &:first-child {
            //padding-left: 0px;
        }

        &:last-child {
            //padding-right: 0px;
        }

    }

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.full-page {
    height: 100vh;
}

// 11. Media Quaries
// ===================================

/* Smartphones  ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads  ----------- */
@media only screen and (min-width : 768px) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}
